* {
   font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.side-bar{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: #c5f0a4; 
    text-align: center;
}

.scoring {
    font-size: 25px;
}

.wins-counter {
    size: 50px;
}

.player1-img, 
.player2-img{
    margin-top: 100px;
    width: 170px;
    height: 150px;
}

.main-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    background: #2eb872; 
}

.main-page-title {
    font-size:65px;
    font-weight: bolder;
    margin: 10px
}

.game-selector {
    width:fit-content;
    display: flex;
    background: #a3de83;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid;
}

.user-instructions{
    font-size: 30px;
    text-align: center;
}

.cat-img, 
.cup-img, 
.water-img, 
.yarn-img, 
.dog-img, 
.results-icons {
    width:200px;
    height: 200px;
    display: flex;
    margin: 30px;
}

.player-description {
    font-size: 35px;
    font-weight: bolder;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

button {
    background: #2eb872; 
    padding:10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 7px;
}

